.nav {
    display: flex;
   
}

.link {
    margin: 20px;
    
}

body {
    background-color: black;
}

.active {
    text-decoration: none;
    color: white;
    font-size: "15px";
}

.allImages {
    display: flex;
    overflow-x: scroll;
}

/* .allImages::-webkit-scrollbar {
    display: none;
} */

img {
    margin: 10px;
}

html {
    scroll-behavior: smooth;
}




/* https://api.themoviedb.org/3/discover/tv/?api_key=659a1becb43addf44334a3b5e5685580&with_network=123 */

/* https://api.themoviedb.org/3/discover/movie?api_key=659a1becb43addf44334a3b5e5685580 */

/* https://api.themoviedb.org/3/genre/tv/list? */

/* https://api.themoviedb.org/3/discover/tv?api_key=${API_KEY} */